<section class="content-header">
  <h1>Znajomi <small> edytuj znajomego</small></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a ui-sref="app.userlist">Lista znajomych</a></li>
    <li class="active">Edytuj użytkownika</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edytuj znajomego</h3>
        </div>
        <form class="form-horizontal" name="userForm" ng-submit="vm.save(userForm.$valid)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': userForm.name.$invalid && ( vm.formSubmitted || userForm.name.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nazwa</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.usereditdata.data.name" name="name" placeholder="Name" required>
                <p ng-show="userForm.name.$error.required && ( vm.formSubmitted || userForm.name.$touched)" class="help-block">Nazwa jest wyamgana.</p>
              </div>
            </div>
            <div class="form-group" >
              <label for="sip_address" class="col-sm-2 control-label">SIP adres</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.usereditdata.data.sip_address" name="sip_address" placeholder="Sip adres" required>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <a ui-sref="app.friendlist" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Powróć</a>
            <button type="submit" class="btn btn-primary pull-right">Zaktualizuj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
