ul,
li {
    list-style: none;
    padding: 0;
}

.session {
    clear: both;
    display: block;
    text-align: center;
    video {
        display: none;
        width: 100%;
    }
}

.on {
    display: block !important;
    height: 100%;
}

.session .dtmf,
.session .dtmf * {
    display: inline-block;
}

.session .dtmf input[type="text"] {
    width: 3em;
    min-width: 0em;
    text-align: center;
}

#dtmf-input{
    // border: 1px solid #808080bd;
    // border-radius: 4px;
}


.session .messages {
    max-height: 10em;
    min-height: 2em;
    overflow: auto;
}

.session .messages .local {
    color: #5f7ee0;
    clear: left;
    float: right;
    width: 60%;
    text-align: right;
    margin-right: 10%;
}

.session .messages .remote,
.session .messages .error {
    color: #00a53b;
    clear: right;
    float: left;
    width: 60%;
    text-align: left;
    margin-left: 10%;
}

.session .messages .error {
    color: #ea4b35;
}

#templates {
    display: none;
}

#dtmf-buttons button {
    display: inline-block;
    margin: 1em 0 0 0;
    height: 3.8em;
    width: 3.8em;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 1em;
}

input {
    border-radius: 2px;
    border: 0px;
    height: 3em;
}

input[type=checkbox] {
    height: auto;
}

.checkbox {
    display: inline-block !important;
    padding-left: 5%;
}

.avaliable-dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}