<section class="content">


    <!-- Panel telefonu i status -->
    <div class="row">
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                     <div class="col-md-3 col-sm-3 col-xs-12">
                    <h3 class="box-title">Panel telefonu</h3>
                    </div>

                    
                    <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="info-box-content">
                                <button id="registerBtn" class="btn waves-effect waves-light" type="submit" name="action" ng-click='registerSIP()'>
                                    {{vm.info.textBtn}}
                                </button>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="info-box-content">
                                {{vm.info.status}}
                    </div>
                </div>
                </div>
                <form role="form" id="newConnectForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="addressUriInput">Adres rozmówcy</label>
                            <input class="form-control" id="addressUriInput" placeholder="Wprowadź adres rozmówcy">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success btn-flat" ng-click="call()">Zadzwoń
                                <span class="glyphicon glyphicon-earphone"></span>
                            </button>
                            <button id="chatBtn" type="submit" class="btn btn-info btn-flat">Wyślij Wiadomość
                                <span class="glyphicon glyphicon-comment"></span>
                            </button>
                            <button id="inviteBtn" type="submit" class="btn btn-info btn-flat">Zaproś!</button>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="videoChkBox" type="checkbox"> Włącz wideo
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-1">

        </div>

                        <!-- Panel kontaktów -->
                        <div class="col-md-5">
                              <div class="box box-danger">
                                  <div class="box-header with-border">
                                      <h3 class="box-title">Znajomi</h3>
                                      <div class="box-tools pull-right">
                                          <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                              <i class="fa fa-minus"></i>
                                          </button>
                                          <button type="button" class="btn btn-box-tool" data-widget="remove">
                                              <i class="fa fa-times"></i>
                                          </button>
                                      </div>
                                  </div>
                                  <div class="box-body no-padding">
                                      <ul class="users-list clearfix">
                                        <li ng-repeat="contact in vm.dataSet">
                                            <a href="#" ng-click="vm.clickContact(contact.sip_address)"><img src="/img/avatar04.png" alt="Zdjęcie znajomego"></a>
                                            <a class="users-list-name" ng-click="vm.clickContact(contact.sip_address)" href="#">{{contact.name}}</a>
                                            <span class="users-list-date">{{contact.sip_address}}</span>
                                        </li>
                                      </ul>
                                  </div>
                                  <div class="box-footer text-center">
                                      <a ui-sref='app.friendlist' class="uppercase">Zobacz wszystkich!</a>
                                  </div>
                              </div>
                          </div>
                          <!-- Koniec panela kontaktów -->

    </div>
    <!-- Koniec panelu telefonu i status -->




    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <ul id="chatList"></ul>
                    <ul id="templates">
                        <li id="session-template" class="template session">

                            <div class="box box-warning direct-chat direct-chat-warning card horizontal">
                                <div class="card-stacked">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Chat</h3>
                                        <div class="box-tools pull-right">
                                            <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">3</span>
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="box-body">
                                        <button class="green">Green</button>
                                        <button class="red">Red</button>
                                        <form class="dtmf" action="">
                                            <label>DTMF
                                                <input type="text" maxlength="1" />
                                            </label>
                                            <input type="submit" value="Send" />
                                        </form>



                                            <div class="direct-chat-messages messages">
                                                
                                            </div>
                                    </div>
                                </div>

                                <div class="box-footer card-action">
                                    <form action="" class="messageForm">
                                        <div class="input-group">
                                            <input type="text" name="message" placeholder="Wprowadź wiadomość ..." class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-warning btn-flat">Wyślij</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </li>
                    </ul>




                </div>

                <div class="col-md-2">

                </div>
            </div>

        </div>


    </div>

    <div class="row">
         okienko wideo
         <video id="remoteVideo"></video>
         <video id="localVideo" muted="muted"></video>
     </div>



</section>
