
input[type=submit], button, button.green {
    background-color: #35f659;
    border: 0px;
    height: 3em;
    cursor: pointer;
}


button.red {
    background-color: #ea4b35;
}

ul, li {
    list-style: none;
    padding: 0;
}


.session {
    clear: both;
    display: block;
    text-align: center;
}



.session .dtmf, .session .dtmf *{
    display: inline-block;
}

.session .dtmf input[type="text"] {
    width: 5em;
    min-width: 0em;
    text-align: center;
}

.session video {
    display: block;
    visibility: none;
    height: 0;
    max-width: 100%;
}

.session video.on {
    visiblity: visible;
    height: auto;
}

.session .messages {
    max-height: 10em;
    min-height: 2em;
    overflow: auto;
}

.session .messages .local {
    color: #5f7ee0;
    clear: left;
    float: right;
    width: 60%;
    text-align: right;
    margin-right: 10%;
}

.session .messages .remote, .session .messages .error {
    color: #00a53b;
    clear: right;
    float: left;
    width: 60%;
    text-align: left;
    margin-left: 10%;
}

.session .messages .error {
    color: #ea4b35;
}

#templates {
    display: none;
}


#dtmf-buttons button {
  display: inline-block;
  margin: 1em 0 0 0;
  height: 3.8em;
  width: 3.8em;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 1em;
}

input {
  border-radius: 2px;
  border: 0px;
  height: 3em;
}

input[type=submit] {
  background-color: #35f659;
  border: 0px;
}

input[type=checkbox] {
  height: auto;
}
