<div class="register-box">
  <div class="register-logo">
    <a ui-sref="login"><b>Voip</b> klient</a>
  </div>
  <div class="register-box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Utwórz nowe konto</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <register-form></register-form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <a ui-sref="login">Mam już konto</a>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
